@font-face {
  font-family: "univers";
  src: url("./common/assets/univers_55.ttf");
}

html {
  font-family: "univers", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #0B070D;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  row-gap: 1vh;
  background-color: #160F1A;
  color: #F5F7ED;
  height: 100%;
  width: 80%;
  min-width: 350px;
  max-width: 700px;
  margin: 0;
  padding: 1.5em 0;
}

h2, h1 {
  text-align: center;
  width: 100%;
}

.section {
  padding: 1em 2em;
}


#board {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #E7ECD5;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: stretch;
  align-content: stretch;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  column-gap: 0;
  align-items: stretch;
  align-content: stretch;
}

.cell {
  flex: 1 1 auto;
}


.description {
}

button {
  display: inline-block;
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: bold;
  font-weight: bold;
  font-family: sans-serif;
  font-size: inherit;
  color: #170F1A;
  background-color: #F5F7ED;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

}

button:hover,
button:focus {
  color: black;
  background-color: #99DC65;
}

button:active {
  transform: scale(0.99);
}

#button-tray {
  background-color: #221627;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-around;
}

#button-tray > button {
  flex: 1 1 auto;
}

#stat-window {

}

#stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}



.stat-wrapper{
  display: flex;
  flex-direction: row;

}

.stat-label {
  flex: 0 0 6em;
}

.stat-display {
  min-width: 60px;
  flex: 0 0 4em;
}

.stat-bar-container {
  flex: 1 0 100px;
  width: 100%;
  height: 100%;
  background-color: #CDE3BF;
  border-radius: 5px;
  padding: 0;
}

.stat-bar{
  background-color: #99DC65;
  padding: 2px;
  border-radius: 5px;
  height: 100%;
  color: #170F1A;
}