body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
}

#board {
  width: 100%;
  height: 100%;
  height: 60vh;
  width: 60vh;
  background-color: lightgray;
}

#stats {

}