html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
}

body {
  height: 60vh;
  width: 60vh;
  background-color: lightgray;
}

#board {
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
}